@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.bozpay * {
    font-family: Montserrat;
}


.bozpay .MuiList-root {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
}

.MuiTextField-root {
    width: 100%;
}

.bozpay /* .slide-routes {
    width: 100%;
    overflow-y: auto!important;
    height: 100%;

    .bozpay .item {
        width: 100%;
        height: 100%;

    }
} */


.bozpay form {
    display: contents;
    width: 100%;
}

.bozpay html {
    scroll-behavior: smooth;
    height: 100%;
}

.bozpay body {
    overflow-x: hidden;
    height: 100%;
}

.bozpay #root {
    height: 100%;
}

.bozpay section {
    display: contents;
}

.bozpay div {
    display: flex;
    flex-shrink: 0
}

.bozpay img {
    object-fit: contain;
}

.bozpay ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

.bozpay ::selection {
    color: white;
    background: #00AFEF
}